<!DOCTYPE html>
<html lang="en">
  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="dashboard.scss" rel="stylesheet">
  </header>

  <body>
    <div class="container-fluid">
      <div class="dashboard-container">
        <div class="content">
          <div id="heading">
            <h1>Dashboard</h1>
          </div>
          <div id="recentUploadsSection">
            <div id="searchBar">
              <label>
                <input type="text" placeholder="Search..">
              </label>
            </div>
            <div id="heading2">
              <h2>Recent Uploads:</h2>
            </div>
              <%= render "resources/recent_files_list" %>
          </div>
          <div id="categorySection">
            <div id="heading2">
              <h2>Categories:</h2>
            </div>
           <%= render "resources/categories_listing" %>
          </div>
          <div id="informationSection">
            <div id="heading2">
              <h2>Information:</h2>
            </div>
            <%= render "resources/selected_file_listing" %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
