<div class="container whiteboard">
  <h1><%= "#{t('confirm_email.text1')}" %></h1>
  <h2><%= "#{t('confirm_email.text2')}" %> </h2>
  <hr>
  <%= image_tag("home_page/crewmate_amongus-256px-20.gif") %>
  <%= render "layouts/logging_btn", withReg: true %>
</div>
