<div class="container resetContainer">
  <h1>Please confirm your E-Mail</h1>
  <h2>Check out your Spam folder </h2>
  <hr>
  <%= image_tag("home_page/crewmate_amongus-256px-20.gif") %>
  <%= render "layouts/_link_to_btn", withReg: true %>
</div>
