<!DOCTYPE html>
<html lang="en">
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="dashboard.scss" rel="stylesheet">
</header>
<body>
<br>
<br>
<br>
<br>
<br>
<%= @suchEingabe %>
<br>
<%= @gefundeneFiles.name %>

<ul>
  <% @gefundeneFiles.each do |file|%>
    <li>
      Ja etwas gefunden:
      <%= file.name %>
    </li>
  <% end %>
</ul>

</body>

</html>
