<!DOCTYPE html>
<html lang="en">
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="dashboard.scss" rel="stylesheet">
</header>
<body>
<h1>Suchergebnisse für <%=@suchEingabe%></h1>
<br>

<table>
  <tr><th>  File-Name  </th> <th>  User-Name  </th> <th>  Link  </th></tr>
  <% @gefundeneFiles.each do |file|%>
  <tr> 
    <td><%=file.name %></td>
    <td><%=file.user.username %></td>
    <td>
      Link
    </td>
  </tr>
  <% end %>
</table>


</body>

</html>
