<% if @file_size_classification.nil? %>
  <div id="missing_file_size_data"></div>
<% else %>
  <div id="file_size_classification"></div>
<% end %>
<%= javascript_pack_tag 'statistics_scripts/file_size_classification' %>
