<div id="userpage">
  <div id="user_information" class="gray-boxing">
    <span>Name:</span>
    <span><%= @current_user.username %></span>
    <span>Email:</span>
    <span><%= @current_user.email %></span>
    <span>last uploaded File:</span>
    <span><i><%= @last_uploaded_file %></i></span>
    <div id="chart">
      <%= javascript_pack_tag 'statistics_scripts/upload_files_history' %>
    </div>
  </div>
</div>
