<h1><%= "#{t('user_resources.edit_user')}" %></h1>

<%= render 'form', user_resource: @user_resource %>

<%= link_to "#{t('user_resources.show')}", @user_resource %> |
<%= link_to "#{t('user_resources.back')}", user_resources_path %>
