<div class="dashboard-container">
  <div class="content">

    <div id="heading">
      <h1><%= "#{t('user_resources.new_title')}" %></h1>
    </div>
    <div id="new_resource_container">
      <div id="new_resource_field">
        <%= render 'form', user_resource: @user_resource %>
      </div>
    </div>
  </div>
</div>
