<div class="container whiteboard">
  <div class="row">
    <h2><%= "#{t('confirmed_email.text1')}" %>></h2>
  </div>
  <div class="row">
    <%= render "layouts/logging_btn", withReg: false %>
  </div>
</div>
