<div class="container whiteboard">
  <div class="row">
    <h2>E-Mail wurde erfolgreich bestätigt</h2>
  </div>
  <div class="row">
    <%= render "layouts/logging_btn", withReg: false %>
  </div>
</div>
