<div class="container resetContainer">
  <div class="row">
    <h2>E-Mail wurde erfolgreich bestätigt</h2>
  </div>
  <div class="row">
    <%= render "layouts/_link_to_btn", withReg: false %>
  </div>
</div>
