<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
<main class="Reg_Main Reg_container">
  <div class="container Reg_border">
    <div class="row">
      <div class="col Reg_AboutYou">
        <b class="Reg_b_About">About</b>
        <b class="Reg_b_You">You</b>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>
          <b>Contact data:</b>
        </h3>
      </div>
    </div>
    <%= render "form" %>
  </div>
</main>
