<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="email" class="form-control" placeholder="email@a.de" aria-label="Email" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" id="passwordId" required pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="password" class="form-control" placeholder="Again Password" aria-label="Again Password" id="passwordAgainId" required pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$">
      </div>
    </div>
  </div>
</div>