<body class="Reg_Body">
<main class="Reg_Main">
  <div class="container Reg_container">
    <div class="row">
      <div class="col">
        <b class="Reg_AboutYou">About You</b>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>
          <b>Contact data:</b>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name" required>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="email" class="form-control" placeholder="email@a.de" aria-label="Email" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" required>
          </div>
          <div class="col">
            <input type="password" class="form-control" placeholder="Again Password" aria-label="Again Password" required>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>