<html class="Reg_Html">
<body class="Reg_Body">
<div class="container Reg_Marg">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
<%= form_with url: home_pages_index_url, method: :push do |form| %>
  <main class="Reg_Main Reg_container">
    <div class="container">
      <div class="row">
        <div class="col Reg_AboutYou">
          <b class="Reg_b_About">About</b>
          <b class="Reg_b_You">You</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>
            <b>Contact data:</b>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" required>
            </div>
            <div class="col">
              <input type="email" class="form-control" placeholder="email@a.de" aria-label="Email" required>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" id="passwordId" required pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{10,}$">
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Again Password" aria-label="Again Password" id="passwordAgainId" required pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{10,}$">
            </div>
          </div>
        </div>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="Reg_ShowPassword">
        <label class="form-check-label" for="Reg_ShowPassword">Show Password</label>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="useragreement" value="option1" required>
            <label class="form-check-label" for="useragreement">Nutzungsbedingungen</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="PrivacyPolicy" value="option1" required>
            <label class="form-check-label" for="PrivacyPolicy">Datenschutzerklärung</label>
          </div>
        </div>
      </div>
      <div class="container-alert">
        <div class="row Reg_alerts">
          <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32"
                 height="32"
                 fill="#FF4136"
                 class="bi bi-dash-circle-fill"
                 viewBox="0 0 16 16"
                 id="lowercaseSVG">
              <path id="lowercaseSVGPath" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
            <span id="lowercase">A lowercase letter</span>
          </div>
          <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32"
                 height="32"
                 fill="#FF4136"
                 class="bi bi-dash-circle-fill"
                 viewBox="0 0 16 16"
                 id="uppercaseSVG">
              <path id="uppercaseSVGPath" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
            <span id="uppercase">A uppercase letter</span>
          </div>
        </div>
        <div class="row Reg_alerts">
          <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32"
                 height="32"
                 fill="#FF4136"
                 class="bi bi-dash-circle-fill"
                 viewBox="0 0 16 16"
                 id="numberSVG">
              <path id="numberSVGPath" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
            <span id="number">A number</span>
          </div>
          <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32"
                 height="32"
                 fill="#FF4136"
                 class="bi bi-dash-circle-fill"
                 viewBox="0 0 16 16"
                 id="specialCharSVG">
              <path id="specialCharSVGPath" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
            <span id="specialChar">A special char</span>
          </div>
        </div>
        <div class="row Reg_alerts">
          <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32"
                 height="32"
                 fill="#FF4136"
                 class="bi bi-dash-circle-fill"
                 viewBox="0 0 16 16"
                 id="lengthSVG">
              <path id="lengthSVGPath" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
            <span id="length">Minimal 10 character</span>
          </div>
          <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="32"
                 height="32"
                 fill="#FF4136"
                 class="bi bi-dash-circle-fill"
                 viewBox="0 0 16 16"
                 id="equalSVG">
              <path id="equalSVGPath" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
            </svg>
            <span id="equal">Password is equal</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= form.submit "Registierung", id: "regBtn", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>
</main>
</body>
<%= javascript_pack_tag "Registration" %>
</html>
