<% content_for :header do%>
  <%=render "layouts/header" %>
<%end %>


<body class = "backroundcolorAbout">
<h1><b class="textcolorred">Pech gehabt</b></h1>
<p>Diese Website ist ein Scam und deine Dateien gehören jetzt uns. <br>
  Wärst du mal bei ****box geblieben.<br><br>
  <b>Hilfe gibts hier: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Support</a></b>
</p>

<div class="row">
  <div class="col">
    <h3><b>Hier sonst noch etwas Latein:</b></h3>
    <p class="lateinFormat"> <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </b></p>
  </div>
  <div class="col">
    <h3><b>Und ein Bild keine Ahnung...</b></h3>
    <%= link_to image_tag("lost.jpg",:class=>"lostImageFormat"),"https://9gag.com/gag/aQo2mmd"%>
  </div>
  <div class="col">
  </div>
</div>
</body>
