
<container class = "backroundcolorAbout">
<h1><b class="textcolorred">Pech gehabt</b></h1>
<p>Diese Website ist ein Scam und deine Dateien gehören jetzt uns. <br>
  Wärst du mal bei ****box geblieben.<br><br>
  <b>Hilfe gibts hier: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Support</a></b>
</p>
</container>
