<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1><b>AGB</b></h1>
  <p>Hier würden jetzt unsere AGB stehen, wenn wir welche hätten.</p>
</body>
</html>