<% content_for :header do %>
  <%= render "layouts/header" %>
<% end %>
<body class="backgroundImageAGB">
<h1><b>AGB</b></h1>
<p><b>Hier würden jetzt unsere AGB stehen, wenn wir welche hätten.</b></p>
</body>
