<div id="categoryAreal">
  <% if @categories.empty? %>
    <p id="nothing_found">no categories found</p>
  <% else %>
    <div id="categoryList">
      <% @categories.each do |cat| %>
        <div id="cat_item">
          <img id="img" src="<%= cat.img_url %>" alt="">
          <i id="title"><%= cat.title %></i>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
