<div id="categoryAreal">
  <% if @categories.empty? %>
    <p id="nothing_found"><%= "#{t('dashboard.nothing_cate')}" %></p>
  <% else %>
    <div id="categoryList">
      <% @categories.each do |cat| %>
        <%= link_to searchresults_path(search_query: "tag:#{cat.name}") do %>
          <div id="cat_item">
            <i id="title"><%= cat.name %></i>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
