<h1>Existierende Chatrooms</h1>
<br>
<h1>-----------</h1>
<%if @existingRooms.present?%>
<ul class = "Existing-Chatrooms">
<%@existingRooms.each do |existingRoom|%>
  <li>
  <%=link_to existingRoom.name, existingRoom%>
  </li>
<% end %>
</ul>
<%end%>
