<div class="container whiteboard">
<h1>Einen neuen Raum erstellen</h1>

  <%if @nameConflict %>
    <h2>Der gewählte Raumname ist schon vergeben, bitte wähle einen anderen Namen.</h2>  
  <%end %>

<%= form_with model: @room do |form| %>
  <div>
    <%= form.label :RaumName %>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<%end %>
</div>


