#footer-inner-content {
  color: #F7F7F7;
  background-color: #212529;
  font-size: 10px;
}

#footer-link-style{
  color: #F7F7F7;
  text-decoration: none;
}

/*
a:link{
  color: #F7F7F7;
  text-decoration: none;
}
 */
