/*sets background and text settings for footer*/
#footer-inner-content {
  color: #F7F7F7;
  background-color: #212529;
  font-size: 10px;
}

/*sets link colors and style of links without setting pointer style*/
.footer-link-pointer a {
  font-weight: normal;
  color: #F7F7F7;
  text-decoration: none;
}


/*positions footer at bottom of the site*/
footer {
  position: static;
  width: 100%;
  bottom: 0;
  height: 0; /*höhe des Footers wenn der Webseiteninhalt das Fenster nicht ausfüllt*/
}

/*sets color for the link pointer to background color of footer*/
.footer-link-pointer {
  color: #212529;
  font-weight: bold;
  float: right;
}


/*lets the pointer appear, when user hovers over the link*/
.footer-link-pointer:hover {
  color: #F7F7F7;
}

/*link will be bold when hovered above, only pointer will show*/
.footer-link-pointer a:hover {
  color: #F7F7F7;
  font-weight: bold;
}

/*sets different color, when site was visited*/
.footer-link-pointer a:visited {
  color: aquamarine;
}

