// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.resetContainer{
  background-color: white;
  padding: 50px 50px 50px 50px;
}

.resetContainer label{
  font-size: xx-large;
}
