// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.whiteboard{
  background-color: white;
  padding: 50px 50px 50px 50px;
}

.whiteboard label{
  font-size: xx-large;
}
