
@media screen and (max-width: 1000px){
  .Reg_AboutYou {
    margin-bottom: 50px;
    padding: 5px 5px 5px 5px;
    font-size: xxx-large;
    font-family: Arial;
  }
}

@media screen and (min-width: 1001px){
  .Reg_AboutYou {
    margin-bottom: 50px;
    padding: 5px 5px 5px 5px;
    font-size: 9em;
    font-family: Arial;
  }
}

.Reg_container{
  background-color: #001f3f;
  box-shadow: 15px 15px 25px #001f3f;
  padding: 30px 30px 30px 30px;
  color: white;
}

.Reg_b_About{
  background-color: white;
  color: #001f3f;
  padding: 5px 5px 5px 5px;
}

.Reg_b_You{
  margin-left: 10px;
}

.Reg_Red_Alert{
  display: none;
}

.Reg_passwordRequirements div{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
}

#lowercase #uppercase #number #specialChar #length{
  padding: 10px 10px 10px 10px;
  font-size: large;
}