
.Reg_Body {
  background-color: #DCDCDC;
  min-height: 100vh;
  min-width: 100vw;
}

@media screen and (max-width: 1000px){
  .Reg_AboutYou {
    margin-bottom: 50px;
    padding: 5px 5px 5px 5px;
    font-size: xxx-large;
    font-family: Arial;
  }
}

@media screen and (min-width: 1001px){
  .Reg_AboutYou {
    margin-bottom: 50px;
    padding: 5px 5px 5px 5px;
    font-size: 9em;
    font-family: Arial;
  }
}

.Reg_container{
  background-color: #F0FFF0;
  box-shadow: 15px 15px 20px silver;
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
}

.Reg_Main{
  margin-top: 50px;
}