// Place all the styles related to the searchResults controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

#searchResultsTableWrapper {
  width: 100%;
}

#searchResultsTable {
  width: 70%;
  background: white;
  display: grid;
  grid-template-columns: 0.1fr 0.3fr 0.3fr 0.3fr;
  grid-gap: 0.5em;
  padding: 0.5em;
}

#searchResultsTable i {
  background: grey;
  color: black;
}

#searchResultsTableWrapper button {
  margin-bottom: 5px;
}
.searchResults-container {
  color: white;

  margin: auto;
  background-color: var(--background-color);

  width: var(--main-container-width);
}
