// Place all the styles related to the siteInformations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

@media screen and(min-width: 1000px){
    .center{
      float: right;
    }
}

.center{
  text-align: center;
}

.textcolorred{
  color:red;
}

.backroundcolorAbout{
  background-color: aquamarine;
}


