// Place all the styles related to the siteInformations controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media screen and(min-width: 1000px) {
  .center {
    float: right;
  }
}

.center {
  text-align: center;
}

.textcolorred {
  color: red;
}

.backroundcolorAbout {
  background-color: aquamarine;
}

.backgroundImageAGB {
  background-image: image_url("background_plant.jpg");
}

.lateinFormat {
  text-align: justify;
  width: 500px;
}

.lostImageFormat {
  width: 500px;
  height: 300px;
}

.headerPic {
  height: 50px;
  width: 50px;
}

.headTextSize {
  font-size: xxx-large;
}

