// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

body{
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #001f3f;
}

image_tag{
  border-radius: 30px;
}

hr{
  color:white;
}
.ShowPasswordCheckBox{
  color: white;
}

#Switchlabel{
  color: white;
  float: left;
}

.mainImg{
  border-radius: 30px;
}

#message{
 display: none;
}

h1{
  margin-bottom: 50px;
  padding: 5px 5px 5px 5px;
  color: white;
  font-size: 10em;
  font-family: Arial;
}
input{
  margin-top: 10px;
  margin-bottom: 10px;
}

.registieren{
  margin-top: 20px;
  font-size: 1.5em;
  color: white;
}

p{
  color: white;
}
