// Place all the styles related to the statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#user_statistical_data {
  padding: 5px;
}

#user_information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#chart-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-device-width: 100px) and (max-device-width : 800px) {
  #chart-section {
    display: initial;
  }
}
