// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

html{
  height: 100%;
  width: 100%;
}

body{

  //https://pixabay.com/de/photos/schreibtisch-computer-bildschirme-1245714/
  background-image: url("desktop-1245714_1920.jpg");
  opacity: 0.9;
}

main{
  background-color: #001f3f;
  padding: 20px 20px 20px 20px;
  min-height: 100vh;
}

div .form-check{
  margin-top: 10px;
  margin-bottom: 10px;
}

hr{
  color:white;
}
.ShowPasswordCheckBox{
  color: white;
}

#Switchlabel{
  color: white;
  float: left;
}

.mainImg{
  border-radius: 30px;
}

#message{
 display: none;
}

h1{
  margin-bottom: 50px;
  padding: 5px 5px 5px 5px;
  color: white;
  font-size: 9em;
  font-family: Arial;
}

h1 b {
  color: #001f3f;
  background-color: white;
  padding: 5px 5px 5px 5px;
}

input{
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
}

.registieren{
  margin-top: 20px;
  font-size: 1.5em;
  color: white;
}

p{
  color: white;
}
