
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand headTextSize" href="/"><%= image_tag"pepe_hacker.gif", class:"headerPic"%>DripBox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">

        <!-- Links können in Kombination mit dem mittleren Suchfeature realisiert werden -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/data" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><!-- //////////////////////link hier für Daten-->
            Data
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Dokumente</a> <!-- Link für eigene Dokumentseite -->
            <a class="dropdown-item" href="#">Bilder</a> <!-- Link für eigene Bilderseite -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Für mich freigegeben</a> <!-- Link für Seite, die alle für mich freigegebenen Dateien  -->
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/profile">Profil</a>
        </li>

      </ul>

      <!-- Für mittleres feature -->
      <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      -->
    </div>
  </nav>
</header>