
<header>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"href="/"><!-- Link zum Dashboard wenn eingeloggt, link auf Logginscreen wenn nicht eingeloggt -->
    <img src="https://openmoji.org/data/color/svg/1F4A6.svg" width="50" height="50"/>
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a href="#" class="nav-link ">
          Dashboard
        </a>
      </li>

      <li class="nav-item active">
        <a href="#" class="nav-link ">
          My Data
        </a>
      </li>

      <li class="nav-item active">
        <a href="#" class="nav-link ">
         Profile
        </a>
      </li>
    </ul>
  </div>
</nav>
</header>