<div class="container">
  <h1>Please Login before you start...</h1>
  <%= link_to "login", root_url, :class => "btn btn-primary" %>
  <%= link_to "Registieren", new_user_url, :class => "btn btn-link" %>
</div>
