<footer>

  <div class="p-3 bg-dark text-white">

    <div class="row">

      <div class="col">
          <p>
            <u><b>Impressum</b> </u><br>
            Mustermannstraße 99 <br>
            12345 Musterstadt <br>
            Deutschland <br>
            E-Mail: <a href="mailto:max.mustermann@beispiel.de">max.mustermann@beispiel.de</a><br>
            Telefon: 030 12345678901
          </p>
      </div>

      <div class="col">
        <!--empty col: mögliche Erweiterung-->
      </div>

      <div id="footer-link-style" class="col">

        <span class="footer-link-pointer">> <%=link_to "AGB", agb_path, class: "center"%></span>
        <br>
        
        <span class="footer-link-pointer">> <%=link_to "Datenschutz", datenschutz_path, class: "center"%></span>
        <br>
        
        <span class="footer-link-pointer">> <%=link_to "Über", ueber_path, class: "center"%></span>

      </div>

    </div>
</div>
</footer>
